.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

h1, h3 {
  color: #00ff99;
}

.post-card {
  border: 1px solid #00ff99;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: #00ff99;
  color: #1e1e1e;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
